.sousuoArea{width: 100%;padding: 10px 20px;border: 1px solid #ccc ;background: #efefef}
.order{display: inline-block;margin-right:20px;font-size: 15px }
.label{margin-right:10px;}
.sizesousuoarea{width: 200px;}
.sousuo{width: 60px;height: 25px;margin-right: 10px;cursor: pointer;background: #e8e8e8;border: 1px solid #ccc}
.chongzhi{width: 60px;height: 25px;cursor: pointer;background: #e8e8e8;border: 1px solid #ccc}
.biaodanArea{width: 100%;max-height: 800px;}